.swiper {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide__item {
  padding: 40px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
}

.swiper-slide__item img {
  margin-bottom: 30px;
  width: 100%;
}

.swiper-slide__item-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.swiper-slide__item-subtitle {
  margin-bottom: 30px;
  color: #999;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.swiper-slide__item-details {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.swiper-slide__item-details__item {
  padding: 8px 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;

  border-radius: 28px;
  border: 1px solid #262626;
  background: #1a1a1a;
}

.swiper-slide__item-details__item img {
  margin-bottom: 0;
}

.swiper-slide__item-details__item p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-wrap: nowrap;
}
